body{
  color: #0D1C1F;
  background-color: #F5F4FC;
  font-family: "acuta-1","acuta-2";
  letter-spacing: 0.1em;   
  line-height: 1.5em;
}

#container{
  width: 700px;
  margin: auto;
}

#info{
  font-size: small;
  margin-bottom: 1em;
}

h1{
  font-weight: 900;
  font-size: 5em;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #8C99B9;
  margin-top: 20px;
}

a{
  color: #8C99B9;
  text-decoration: none;
}
a:hover{
  border-bottom: 1px solid #8C99B9;
  color: #636c83;
}

h1 a:hover{
  border-bottom: none;
}

#logo{
  border: none;
  text-decoration: none;
  text-shadow: 0px 0px 150px #636c83;
}

#description{
  font-size: 0.75em;
}
#description ul{
  margin-left: 5px;
  list-style-type: circle;
}
#tweets{
  float: left;
  width: 500px;
  margin-right: 25px;  
}

#right{
  float: left;
  width: 170px;
  margin-top: 15px;
}
#right li{
  margin: 0 0 5px 1em;
}

#league{
  margin-top: 2em;
  font-size: small;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin-bottom: 2em;
}
.meta{
  font-size: small;
  text-align: right;
}
.profile_pic{
  float: left;
  padding: 0;
  border: 2px solid #8C99B9;
  border-radius: 3px;
  margin: 0 10px 0 0;
}

.profile_pic:hover{
  border-color: #636c83;
}

a.op_archive, .op_archive{
  background-color: #8C99B9;
  color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;  
}

a.op_archive:hover{
  border-bottom: none;
  background-color: #636c83;
}

#tweetbox{
  margin-top: 1em;
}